<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' ,filename='aboutus.css') }}">
</head>
<body>
  <div class="topnav">
      <a id="home" class="active" href="/aboutus">About Us</a>
      {% if current_user.is_authenticated %}{% else %}
      <a id="login" href="/login">Login</a>
      <a id="signup" href="/signup">Signup</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a id="logut" href="/logout">Logout</a>
      <a id="createroom" href="/create-room/">Create Room</a>
      <a id="room" href="/room">Rooms</a>
      {% endif %}
      <a id="aboutus" href="/">Home</a>
  </div>
  <img src="{{url_for('static', filename='norcha.png') }}">
  <form class="box">
    <h2>Welcome</h2>
    <p>This is a very simple Chat application that can be used just to send messages and is made with pure "PYTHON" at the backend
      This website allows you to <a id="singuppara" href="/signup">Singup</a> to our website and lets you make <a id="create_roompara" href="/create-room/">Room(s)</a> to chat in group or in personal...
      This website was developed by Dhruv Pandey,Gauraw Singh Rawat and Divyansh Chauhan as a school project for computer science submited to Sapna Rai ma'am (Computer science teacher, Mayo international school).
      This is all we can offer now.
      Thank you :)
    </p>
  </form>
</body>
</html>