
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>Edit Room&nbsp;{{ room.name }}</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_room.css') }}">
</head>
<body>
<form>
      <div class="wrapper">
         <div class="first">
           <img src="{{ url_for('static', filename='logo1.png') }}" height="150px">
           <h3>{{ message }}</h3>
         </div>
       </div>
</form>
<form method="post">
   <div class="container">
       <h2>Edit Room</h2>
       <input id="room_name" type="text" name="room_name" value="{{ room.name }}">
       <input id="members" type="text" name="members" value="{{ room_members_str }}">
       <button type="submit">Edit Room</button>
    </div>
</form>
<button onclick="document.location='/'" id="cancel">Cancel</button>
</body>
</html>