<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='norcha.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NorCha</title>
    <link rel="stylesheet" type="text/css" href="\static\index.css">
</head>
<body>
     <header>
           <div class="main">

             </div>
            <div class="title">
               <h1 id="welcome">Welcome To</h1>
               <h1 id="norcha">NorCha</h1>
               {% if current_user.is_authenticated %}
                <h3 id="name">{{ current_user.username }}</h3>
                {% endif %}
            </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Norcha</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        {% if current_user.is_authenticated %}
        
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rooms
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for room in rooms %}{% if rooms == 0 %}{% else %}
            <li><a class="dropdown-item" href="/rooms/{{ room._id.room_id }}/">{{ room.room_name }}</a></li>
            {% endif %}{% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/create-room">Create Room</a></li>
          </ul>
        </li>

        <li class="nav-item px-2">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

        {% else %}

        <li class="nav-item px-2">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item px-2">
          {% endif %}
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
     </header>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>
