<html>
<head>
<title>E-commerce</title>
<marquee><b>WELCOME</b></marquee>
<style>
.links
{
border-radius:10px;
}
.links:hover
{
background-color:green;
}
.zoom
{
transition:transform 1s;
}
.zoom:hover
{
transform:scale(1.1);
}
</style>
</head>
<body bgcolor="white">
<b><font face="lucida handwritting" color="black" size=20></b>
<table border="0" bgcolor="white" width="60%" height="10%" align="right">
<tr>
<td width="20%" align="center" class="links">
<font color="black"><a href="home.html">Home</a></td>
<td width="20%" align="center" class="links">
<font color="white"><a href="men.html">Men</a></td>
<td width="20%" align="center" 
<td width="20%"align="center" class="links"><font color="white" ><a href="contact us.html">Contact us</a></td>
</tr>
</table>
<center>
<img src="pp1.jpg"
  height="90%"
  width="90%">
</center>
<p>Visit to our website and get your favourite and desired clothes. All kinds of clothes are available for men.Our website is the best website in india for men clothing.You only have to visit our website to get the new fashionable clothes for yourself.All brands are available.Men's all types of clothes are available.</p>
<table border="0"
width="100%">
<tr>
<td class="zoom"><a href="123.html"><img src="1.jpg" alt="Men's Blazer" height="300" width="200"></a></td>
<td class="zoom"><a href="1.html"><img src="11.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="2.html"><img src="030.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="4.html"><img src="2.jpg" height="300" width="200" ></a></td>
</tr>
<tr>
<td class="zoom"><a href="5.html"><img src="d19.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="6.html"><img src="f11.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="7.html"><img src="04.jpg" height="300" width="200"></a>
<td class="zoom"><a href="8.html"><img src="f18.jpg" height="300" width="200"></a>
</tr>
<tr>
<td class="zoom"><a href="9.html"><img src="a1.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="10.html"><img src="a2.jpg" height="300" width="200"></a></td>
<td class="zoom"><a href="11.html"><img src="015.jpg" height="300" width="200" ></a></td>
<td class="zoom"><a href="12.html"><img src="f16.jpg" height="300" width="200"></a></td>
</tr>
</table>
<center>
<img src="bb1.jpg"
  height="90%"
  width="90%" vspace="60">
<img src="h1.jpg"
  height="400"
  width="400" vspace="60">
<img src="h2.jpg"
  height="400"
  width="400" vspace="60">
<img src="h3.jpg"
  height="400"
  width="400" vspace="60">
<img src="h4.jpg"
  height="400"
  width="400" vspace="60">
<img src="h5.jpg"
  height="400"
  width="400" vspace="60">
<img src="h6.jpeg"
  height="400"
  width="400" vspace="60">
<img src="h7.jpeg"
  height="400"
  width="400" vspace="60">
<img src="h8.jpeg"
  height="400"
  width="400" vspace="60">
<img src="h9.jpeg"
  height="400"
  width="400" vspace="60">
</center>
</html>
